@model List<ProdutoModel>

@{
    ViewData["Title"] = "Consulta de Estoque";
}

<div class="text-center">
    <h1 class="display-4">CONSULTA DE ESTOQUE AVANÇADA</h1>
</div>

<br />

<form class="row g-3 needs-validation" novalidate>

    <div class="col-md-4">
        <label for="Descrição">Descrição</label>
        <input type="text" style="text-transform:uppercase" class="form-control" placeholder="Pesquise pela descrição.">
    </div>

    <div class="col-md-4">
        <label for="Locação">Locação</label>
        <input type="text" style="text-transform:uppercase" class="form-control" placeholder="Pesquise pela locação.">
    </div>

    <div class="col-md-4">
        <label for="Marca">Marca</label>
        <input type="text" style="text-transform:uppercase" class="form-control" placeholder="Pesquise pela marca.">
    </div>

    <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-sm">PESQUISAR</button>
    </div>
</form>

<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">DESCRIÇÃO</th>
            <th scope="col">QUANTIDADE</th>
            <th scope="col">PREÇO (UN/KG)</th>
            <th scope="col">LOCAÇÃO NO ESTOQUE</th>
            <th scope="col">FORNECEDOR</th>
            <th scope="col">MARCA</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (ProdutoModel produto in Model)
            {
                <tr>
                    <th scope="row">@produto.Id</th>
                    <td>@produto.Descricao</td>
                    <td>@produto.Quantidade</td>
                    <td>R$ @produto.PrecoUnit</td>
                    <td>@produto.Locacao</td>
                    <td>@produto.Fornecedor</td>
                    <td>@produto.Marca</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-primary" asp-route-id="@produto.Id" asp-controller="Editar" asp-action="EditarQuantidadeView">ALT. QUANTIDADE</a>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-secondary" asp-route-id="@produto.Id" asp-controller="Editar" asp-action="EditarProdutoView">EDITAR</a>
                        </div>
                    </td>


                </tr>
            }
        }
    </tbody>
</table>